{% extends 'layouts/layout.html' %}
{% load static %}  {% load permissions_tags %}
{% load permissions_tags %}
{% block content %}

  <!--  Row 1 -->
  <div class="row">    
    <div class="col-lg-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body">
          <div class="d-flex flex-row">
              <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-success">
                <i class="ti ti-credit-card fs-6"></i>
              </div>
              <div class="ms-3 align-self-center">
                <h4 class="mb-0 fs-5">Total Payout</h4>
                <span>Income</span>
              </div>
              <div class="ms-auto align-self-center">
                <h2 class="fs-7 mb-0">₹ 290000</h2>
              </div>
            </div>  
        </div>
        <div class="card w-100">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-info">
                <i class="ti ti-credit-card fs-6"></i>
              </div>
              <div class="ms-3 align-self-center">
                <h4 class="mb-0 fs-5">Pending Payout</h4>
                <span>Income</span>
              </div>
              <div class="ms-auto align-self-center">
                <h2 class="fs-7 mb-0">₹ 26900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="card w-100">
            <div class="card-body">
              <div class="d-flex flex-row">
                <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-danger">
                  <i class="ti ti-credit-card fs-6"></i>
                </div>
                <div class="ms-3 align-self-center">
                  <h4 class="mb-0 fs-5">Annual Target Achievement</h4>
                  <span>As per current target achievement</span>
                </div>
                <div class="ms-auto align-self-center">
                  <h2 class="fs-7 mb-0">₹ 20000</h2>
                  <span>1 Month Gross Salary</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="card w-100">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-danger">
                    <i class="ti ti-credit-card fs-6"></i>
                  </div>
                  <div class="ms-3 align-self-center">
                    <h4 class="mb-0 fs-5">Annual Subscription Incentive</h4>
                    <span>As per current target achievement</span>
                  </div>
                  <div class="ms-auto align-self-center">
                    <h2 class="fs-7 mb-0">₹ 38000</h2>
                    <span>6% of Collection Amount</span>
                  </div>
                </div>
              </div>
            </div>          
      </div>
    </div>

  <div class="col-lg-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body">
          <h4 class="card-title">Annual Target Achievement</h4>
          <p class="card-subtitle mb-0">Overview of Achievement</p>
          <div id="chart-target-achivement"></div>            
        </div>
      </div>
    </div>
  
     
</div>

 {% endblock %}