{% load static %}  {% load permissions_tags %}
<aside class="left-sidebar with-vertical">
    <div><!-- ---------------------------------- -->
      <!-- Start Vertical Layout Sidebar -->
      <!-- ---------------------------------- -->
      <div class="brand-logo d-flex align-items-center justify-content-between" style="background-color: #f8f9fa; border-bottom: 1px solid #dee2e6; padding: 10px;">
        <a href="#" class="text-nowrap logo-img">
          <img src="https://www.saneforce.com/assets/images/saneforce-logo.svg" class="dark-logo" alt="Logo-Dark" />
          <img src="https://www.saneforce.com/assets/images/saneforce-logo.svg" class="light-logo" alt="Logo-light" />
        </a>
        <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
          <i class="ti ti-x"></i>
        </a>
      </div>

      <nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <div><br></div>
        <ul id="sidebarnav">         
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'dashboard_router' %}" aria-expanded="false">
              <span>
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span class="hide-menu">Dashbaord</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'sales_dashboard' %}" aria-expanded="false">
              <span>
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span class="hide-menu">User Dashbaord</span>
            </a>
          </li>

          {% if request.permissions|has_any_permission:"Users, view" %}
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'user_list' %}" aria-expanded="false">
              <span>
                <i class="fas fa-users"></i>
              </span>
              <span class="hide-menu">Users</span>
            </a>
          </li>
          {% endif %}
 
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
              <span class="d-flex">
                <i class="fas fa-database"></i>
              </span>
              <span class="hide-menu">Master</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
            
      
          {% if request.permissions|has_any_permission:"Segment , view" %}      

              <li class="sidebar-item">
                <a href="{% url 'segment' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-layer-group"></i>
                  </div>
                  <span class="hide-menu">Segment</span>
                </a>
              </li>
                        {% endif %}
          {% if request.permissions|has_any_permission:"Sales Team Hierarchy , view" %}
              <li class="sidebar-item">
                <a href="{% url 'salesteam' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-sitemap"></i>
                  </div>
                  <span class="hide-menu">Sales Team Hierarchy</span>
                </a>
              </li>
                {% endif %}
              <!-- <li class="sidebar-item">
                <a href="{% url 'leadsource' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Lead Source</span>
                </a>
              </li> -->
    
            </ul>
          </li>
                  
     {% if request.permissions|has_any_permission:"Deals , view" %}
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'deal_list' %}" aria-expanded="false">
              <span>
                <i class="fas fa-handshake"></i>
              </span>
              <span class="hide-menu">Deal Data</span>
            </a>
          </li>
           {% endif %}
             {% if request.permissions|has_any_permission:"Annual Targets , view" %}            
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'target_list' %}" aria-expanded="false">
              <span>
                <i class="fas fa-crosshairs"></i>
              </span>
              <span class="hide-menu">Deal Target</span>
            </a>
          </li>
           {% endif %}
             {% if request.permissions|has_any_permission:"IncentiveSetup , view" %}            
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'incentive_setup_list' %}" aria-expanded="false">
              <span>
                <i class="fas fa-gift"></i>
              </span>
              <span class="hide-menu">Incentive Rules</span>
            </a>
          </li>
            {% endif %}
             {% if request.permissions|has_any_permission:"Payouts , view" %}     
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'payout' %}" aria-expanded="false">
              <span>
                <i class="fas fa-wallet"></i>
              </span>
              <span class="hide-menu">Payouts</span>
            </a>
          </li>
 {% endif %}
          
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
              <span class="d-flex">
                <i class="fas fa-chart-line"></i> 
              </span>
              <span class="hide-menu">Reports</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
      
             {% if request.permissions|has_any_permission:"Transaction , view" %} 
        
               {% endif %}
             {% if request.permissions|has_any_permission:"Payouts , view" %} 
                   <li class="sidebar-item">
                <a href="{% url 'transaction' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-alt"></i>
                  </div>
                  <span class="hide-menu">Transaction</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'targettransaction' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-alt"></i>
                  </div>
                  <span class="hide-menu">Target Transaction</span>
                </a>
              </li>
             {% endif %}
            
              </ul>
              </li>
           
        
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
              <span class="d-flex">
                <i class="fas fa-tools"></i>
              </span>
              <span class="hide-menu">Settings</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
          
             {% if request.permissions|has_any_permission:"Site Settings , view" %} 
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Site Settings</span>
                </a>
              </li>
               {% endif %}
             {% if request.permissions|has_any_permission:"Job Settings , view" %} 
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <span class="hide-menu">Job Settings</span>
                </a>
              </li>
               {% endif %}
             {% if request.permissions|has_any_permission:"Modules , view" %} 
              <li class="sidebar-item">
                <a href="{% url 'module' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-puzzle-piece"></i>
                  </div>
                  <span class="hide-menu">Module</span>
                </a>
              </li>
               {% endif %}
             {% if request.permissions|has_any_permission:"Roles, view" %} 
              <li class="sidebar-item">
                <a href="{% url 'roles' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-user-tag"></i>
                  </div>
                  <span class="hide-menu">Roles</span>
                </a>
              </li>
               {% endif %}
            {% if request.permissions|has_any_permission:"Permissions, view" %} 
              <li class="sidebar-item">
                <a href="{% url 'permission' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Permission</span>
                </a>
              </li>
         {% endif %} 
           
            
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
              <span class="d-flex">
                <i class="fas fa-cogs"></i>
              </span>
              <span class="hide-menu">Activity</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
                <a href="{% url 'schedulelog' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Scheduled Jobs</span>
                </a>
              </li>
             {% if request.permissions|has_any_permission:"Audit Log, view" %} 
              <li class="sidebar-item">
                <a href="{% url 'changelog' %}" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Audit/Change Log</span>
                </a>
              </li>
               {% endif %}
             {% if request.permissions|has_any_permission:"Error Log, view" %} 
              <!-- <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                  <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="fas fa-circle-notch"></i>
                  </div>
                  <span class="hide-menu">Error Logs</span>
                </a>
              </li> -->
             {% endif %}
             {% if request.permissions|has_any_permission:"Scheduled , delete" %}
              <li class="sidebar-item">
                <form method="POST" action="/backup_db/">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-primary">
                    Backup DB to GCS
                  </button>
                </form>                
            </li>    
            {% endif %}
            <a class="sidebar-link" href="" id="get-url" aria-expanded="false"></a>
        </ul>
      </nav>

   
      <!-- ---------------------------------- -->
      <!-- Start Vertical Layout Sidebar -->
      <!-- ---------------------------------- -->
    </div>
  </aside>